/* Kendo skin */
.k-theme-test-class,
.ktb-theme-id-default {
  opacity: 0;
}
.ktb-var-accent {
  color: #0070c0;
}
.ktb-var-base {
  color: #e9e9e9;
}
.ktb-var-background {
  color: #ffffff;
}
.ktb-var-border-radius {
  border-radius: 4px;
}
.ktb-var-normal-background {
  color: #ffffff;
}
.ktb-var-normal-gradient {
  background-image: none;
  background-image: none, linear-gradient(to bottom, rgba(255, 255, 255, 0.6) 0px, rgba(255, 255, 255, 0) 100%);
}
.ktb-var-normal-text-color {
  color: #2e2e2e;
}
.ktb-var-hover-background {
  color: #bcb4b0;
}
.ktb-var-hover-gradient {
  background-image: none;
  background-image: none, linear-gradient(to bottom, rgba(255, 255, 255, 0.4) 0px, rgba(255, 255, 255, 0) 100%);
}
.ktb-var-hover-text-color {
  color: #2e2e2e;
}
.ktb-var-selected-background {
  color: #0070c0;
}
.ktb-var-selected-gradient {
  background-image: none;
  background-image: none, linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0px, rgba(255, 255, 255, 0) 100%);
}
.ktb-var-selected-text-color {
  color: #ffffff;
}
.ktb-var-error {
  color: #db4240;
}
.ktb-var-warning {
  color: #ffc000;
}
.ktb-var-success {
  color: #37b400;
}
.ktb-var-info {
  color: #0066cc;
}
.ktb-var-series-a {
  color: #0070c0;
}
.ktb-var-series-b {
  color: #a0a700;
}
.ktb-var-series-c {
  color: #00b0f0;
}
.ktb-var-series-d {
  color: #678900;
}
.ktb-var-series-e {
  color: #00b050;
}
.ktb-var-series-f {
  color: #396000;
}
.k-grid-norecords-template {
  background-color: #ffffff;
  border: 1px solid #d5d5d5;
}
.k-button {
  border-radius: 4px;
  border-color: #c5c5c5;
  color: #2e2e2e;
  background-color: #e9e9e9;
  background-position: 50% 50%;
  background-image: none;
  background-image: none, linear-gradient(to bottom, rgba(255, 255, 255, 0.6) 0px, rgba(255, 255, 255, 0) 100%);
}
.k-button:hover,
.k-button.k-state-hover {
  color: #2e2e2e;
  border-color: #b6b6b6;
  background-color: #bcb4b0;
  background-image: none;
  background-image: none, linear-gradient(to bottom, rgba(255, 255, 255, 0.4) 0px, rgba(255, 255, 255, 0) 100%);
}
.k-button:active,
.k-button.k-state-active {
  color: #ffffff;
  background-color: #0070c0;
  border-color: #0073c5;
  background-image: none;
  background-image: none, linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0px, rgba(255, 255, 255, 0) 100%);
  box-shadow: none;
}
.k-button.k-state-active:hover {
  color: #ffffff;
  border-color: #8d8079;
  background-color: #0079cf;
}
.k-button:focus:active {
  box-shadow: inset 0 0 3px 1px #005592;
}
.k-button[disabled],
.k-state-disabled .k-button,
.k-state-disabled .k-button:hover,
.k-button.k-state-disabled,
.k-button.k-state-disabled:hover {
  color: #c3c3c3;
  border-color: #c5c5c5;
  background-color: #e9e9e9;
  background-image: none;
  background-image: none, linear-gradient(to bottom, rgba(255, 255, 255, 0.6) 0px, rgba(255, 255, 255, 0) 100%);
}
.k-button[disabled],
.k-button.k-state-disabled,
.k-button.k-state-disabled:active {
  box-shadow: none;
}
.k-button:focus,
.k-button:focus:hover,
.k-button.k-state-focused,
.k-button.k-state-focused.k-state-disabled,
.k-state-disabled .k-button.k-state-focused {
  border-color: #c5c5c5;
  box-shadow: inset 0 0 3px 1px #b6b6b6;
}
.k-primary {
  color: #ffffff;
  border-color: #0067b1;
  background-color: #0085e4;
  background-image: none;
  background-image: none, linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0px, rgba(255, 255, 255, 0) 100%);
}
.k-primary:hover,
.k-primary.k-state-hover {
  color: #ffffff;
  border-color: #8d8079;
  background-color: #0079cf;
  background-image: none;
  background-image: none, linear-gradient(to bottom, rgba(255, 255, 255, 0.4) 0px, rgba(255, 255, 255, 0) 100%);
}
.k-primary:active,
.k-primary.k-state-active {
  color: #ffffff;
  border-color: #0073c5;
  background-color: #0170bf;
  background-image: none;
  background-image: none, linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0px, rgba(255, 255, 255, 0) 100%);
}
.k-primary:focus:active:not(.k-state-disabled):not([disabled]) {
  box-shadow: 0 0 3px 0 #0070c0;
}
.k-primary[disabled],
.k-state-disabled .k-primary,
.k-state-disabled .k-primary:hover,
.k-primary.k-state-disabled,
.k-primary.k-state-disabled:hover {
  color: #e6e6e6;
  border-color: #e6e6e6;
  background-color: #0088e9;
  box-shadow: none;
  background-image: none;
  background-image: none, linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0px, rgba(255, 255, 255, 0) 100%);
}
.k-primary[disabled],
.k-primary.k-state-disabled {
  box-shadow: none;
}
.k-primary:focus,
.k-primary.k-state-focused {
  border-color: #0067b1;
  box-shadow: 0 0 3px 0 #0070c0;
}
.k-button-group {
  border-radius: 4px;
}
.k-button-group .k-button {
  border-radius: 0;
}
.k-button-group .k-group-start,
.k-button-group .k-button:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.k-button-group .k-group-end,
.k-button-group .k-button:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.k-button-group .k-group-start.k-group-end,
.k-button-group .k-button:first-child:last-child {
  border-radius: 4px;
}
.k-rtl .k-button-group .k-button {
  border-radius: 0;
}
.k-rtl .k-button-group .k-group-start,
.k-rtl .k-button-group .k-button:first-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.k-rtl .k-button-group .k-group-end,
.k-rtl .k-button-group .k-button:last-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.k-rtl .k-button-group .k-group-start.k-group-end,
.k-rtl .k-button-group .k-button:first-child:last-child {
  border-radius: 4px;
}
.k-split-button {
  border-radius: 4px;
}
.k-split-button.k-state-border-down > .k-button,
.k-split-button.k-state-border-up > .k-button {
  color: #2e2e2e;
  background-color: #bcb4b0;
  border-color: #b6b6b6;
  background-image: none;
  background-image: none, linear-gradient(to bottom, rgba(255, 255, 255, 0.4) 0px, rgba(255, 255, 255, 0) 100%);
  box-shadow: none;
}
.k-split-button:focus {
  border-color: #c5c5c5;
  outline: none;
  box-shadow: inset 0 0 3px 1px #b6b6b6;
}
.k-split-button:focus > .k-button {
  background: transparent;
  border-color: #c5c5c5;
}
.k-split-button:focus:not(.k-state-disabled) > .k-state-active,
.k-split-button:focus:not(.k-state-disabled) > .k-button:hover {
  color: #2e2e2e;
  background-color: #bcb4b0;
  border-color: #c5c5c5;
  background-image: none;
  background-image: none, linear-gradient(to bottom, rgba(255, 255, 255, 0.4) 0px, rgba(255, 255, 255, 0) 100%);
  box-shadow: none;
}
.k-split-button.k-state-disabled {
  color: #c3c3c3;
  background: #e9e9e9;
  background-image: none;
  background-image: none, linear-gradient(to bottom, rgba(255, 255, 255, 0.6) 0px, rgba(255, 255, 255, 0) 100%);
}
.k-edit-buttons {
  border-color: #d5d5d5;
  background: #eae8e8;
}
undefined undefined .k-in,
.k-item,
.k-window-action {
  border-color: transparent;
}
/* main colors */
.k-tool.k-state-hover {
  color: #ffffff;
}
.k-splitbar .k-resize-handle {
  background-color: #2e2e2e;
  color: #2e2e2e;
}
.k-splitbar .k-resize-handle:hover {
  color: #2e2e2e;
}
.k-splitbar .k-resize-handle {
  background-color: #2e2e2e;
}
.k-block,
.k-widget {
  background-color: #ffffff;
}
.k-block,
.k-widget,
.k-input,
.k-textbox,
.k-group,
.k-content,
.k-header,
.k-filter-row > th,
.k-editable-area,
.k-separator,
.k-textbox > input,
.k-autocomplete,
.k-dropdown-wrap,
.k-toolbar,
.k-group-footer td,
.k-grid-footer,
.k-footer-template td,
.k-state-default,
.k-state-default .k-select,
.k-state-disabled,
.k-grid-header,
.k-grid-header-wrap,
.k-grid-header-locked,
.k-grid-footer-locked,
.k-grid-content-locked,
.k-grid td,
.k-grid td.k-state-selected,
.k-grid-footer-wrap,
.k-pager-wrap,
.k-pager-wrap .k-link,
.k-pager-refresh,
.k-grouping-header,
.k-grouping-header .k-group-indicator,
.k-panelbar > .k-item > .k-link,
.k-panel > .k-item > .k-link,
.k-panelbar .k-panel,
.k-panelbar .k-content,
.k-treemap-tile,
.k-calendar th,
.k-slider-track,
.k-splitbar,
.k-dropzone-active,
.k-tiles,
.k-toolbar,
.k-tooltip,
.k-button-group .k-tool,
.k-upload-files,
.k-popup.k-align .k-list .k-item:last-child,
.k-editor-dialog .k-tabstrip-items {
  border-color: #d5d5d5;
}
.k-group,
.k-toolbar,
.k-grouping-header,
.k-pager-wrap,
.k-group-footer td,
.k-grid-footer,
.k-footer-template td,
.k-widget .k-status,
.k-calendar th,
.k-calendar .k-alt,
.k-dropzone-hovered,
.k-popup {
  background-color: #f5f5f5;
}
.k-grouping-row td,
td.k-group-cell,
.k-resize-handle-inner {
  background-color: #eae8e8;
}
.k-list-container {
  border-color: #c5c5c5;
  background-color: #e9e9e9;
}
.k-list-filter > .k-textbox {
  border-color: #a3a3a3;
}
.k-content,
.k-panelbar > li.k-item,
.k-panel > li.k-item,
.k-tiles {
  background-color: #ffffff;
}
.k-alt,
.k-separator,
.k-resource.k-alt,
.k-pivot-layout > tbody > tr:first-child > td:first-child {
  background-color: #f1f1f1;
}
.k-pivot-rowheaders .k-alt .k-alt,
.k-header.k-alt {
  background-color: #dcdcdc;
}
.k-textbox,
.k-autocomplete.k-header,
.k-dropdown-wrap.k-state-active,
.k-picker-wrap.k-state-active,
.k-numeric-wrap.k-state-active {
  border-color: #d5d5d5;
  background-color: #e9e9e9;
}
.k-textbox > input,
.k-autocomplete .k-input,
.k-dropdown-wrap .k-input,
.k-autocomplete.k-state-focused .k-input,
.k-dropdown-wrap.k-state-focused .k-input,
.k-picker-wrap.k-state-focused .k-input,
.k-numeric-wrap.k-state-focused .k-input,
.k-multiselect-wrap {
  border-color: #d5d5d5;
}
input.k-textbox,
textarea.k-textbox,
input.k-textbox:hover,
textarea.k-textbox:hover,
.k-textbox > input {
  background: none;
}
.k-input,
input.k-textbox,
textarea.k-textbox,
input.k-textbox:hover,
textarea.k-textbox:hover,
.k-textbox > input,
.k-multiselect-wrap {
  background-color: #fff;
  color: #2e2e2e;
}
.k-input[readonly] {
  background-color: #fff;
  color: #2e2e2e;
}
.k-block,
.k-widget,
.k-popup,
.k-content,
.k-toolbar,
.k-dropdown .k-input {
  color: #2e2e2e;
}
.k-inverse {
  color: #ffffff;
}
.k-block {
  color: #313131;
}
.k-link:link,
.k-link:visited,
.k-nav-current.k-state-hover .k-link {
  color: #2e2e2e;
}
.k-tabstrip-items .k-link,
.k-panelbar > li > .k-link {
  color: #2e2e2e;
}
.k-header,
.k-treemap-title,
.k-grid-header .k-header > .k-link {
  color: #313131;
}
.k-header,
.k-grid-header,
.k-toolbar,
.k-dropdown-wrap,
.k-picker-wrap,
.k-numeric-wrap,
.k-grouping-header,
.k-pager-wrap,
.k-textbox,
.k-progressbar,
.k-draghandle,
.k-autocomplete,
.k-state-highlight,
.k-tabstrip-items .k-item,
.k-panelbar .k-tabstrip-items .k-item,
.km-pane-wrapper > .km-pane > .km-view > .km-content {
  background-image: none;
  background-image: none, linear-gradient(to bottom, rgba(255, 255, 255, 0.6) 0px, rgba(255, 255, 255, 0) 100%);
  background-position: 50% 50%;
  background-color: #eae8e8;
}
.k-block,
.k-header,
.k-grid-header,
.k-toolbar,
.k-grouping-header,
.k-pager-wrap,
.k-draghandle,
.k-treemap-tile,
html .km-pane-wrapper .k-header {
  background-color: #eae8e8;
}
.k-mediaplayer-toolbar {
  background-color: rgba(234, 232, 232, 0.85);
}
.k-hr {
  border-color: #d5d5d5;
}
/* icons */
.k-icon:hover,
.k-state-hover .k-icon,
.k-state-selected .k-icon,
.k-state-focused .k-icon,
.k-column-menu .k-state-hover .k-sprite,
.k-column-menu .k-state-active .k-sprite,
.k-pager-numbers .k-current-page .k-link:hover:after,
.k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view.k-state-hover > .k-link:after {
  opacity: 1;
}
.k-state-disabled .k-icon,
.k-column-menu .k-sprite,
.k-pager-numbers .k-current-page .k-link:after,
.k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link:after {
  opacity: 0.9;
}
.k-mobile-list .k-check:checked,
.k-mobile-list .k-edit-field [type=checkbox]:checked,
.k-mobile-list .k-edit-field [type=radio]:checked {
  opacity: 0.9;
}
/* Badge */
.k-badge {
  background-color: #0070c0;
  color: #ffffff;
  border-radius: 3px;
}
.k-tool {
  border-color: transparent;
}
/* IE will ignore the above selectors if these are added too */
.k-mobile-list .k-check:checked,
.k-mobile-list .k-edit-field [type=checkbox]:checked,
.k-mobile-list .k-edit-field [type=radio]:checked {
  background-image: url('https://kendo.cdn.telerik.com/2018.2.516/styles/Default/sprite.png');
  border-color: transparent;
}
.k-mobile-list .k-check:checked,
.k-mobile-list .k-edit-field [type=checkbox]:checked {
  font-family: 'WebComponentsIcons';
  background-image: none;
}
.k-mobile-list .k-check:checked:before,
.k-mobile-list .k-edit-field [type=checkbox]:checked:before {
  content: "e118";
}
.k-i-loading {
  background-image: url('https://kendo.cdn.telerik.com/2018.2.516/styles/Default/loading.gif');
}
.k-loading-image {
  background-image: url('https://kendo.cdn.telerik.com/2018.2.516/styles/Default/loading-image.gif');
}
.k-loading-color {
  background-color: #ffffff;
}
.k-draghandle {
  border-color: #c5c5c5;
  background-color: #ffffff;
  box-shadow: none;
}
.k-draghandle:hover {
  border-color: #b6b6b6;
  background-color: #bbb4b1;
  box-shadow: none;
}
/* Scheduler */
.k-scheduler {
  color: #2e2e2e;
  background-color: #ffffff;
}
.k-scheduler-layout {
  color: #2e2e2e;
}
.k-scheduler-datecolumn,
.k-scheduler-groupcolumn {
  background-color: #ffffff;
  color: #2e2e2e;
}
.k-scheduler-times tr,
.k-scheduler-times th,
.k-scheduler-table td,
.k-scheduler-header th,
.k-scheduler-header-wrap,
.k-scheduler-times {
  border-color: #c5c5c5;
}
.k-nonwork-hour,
.k-scheduler-dayview .k-today.k-nonwork-hour,
.k-scheduler-timelineview .k-today.k-nonwork-hour {
  background-color: #f3f3f3;
}
.k-gantt .k-nonwork-hour {
  background-color: rgba(233, 233, 233, 0.2);
}
.k-gantt .k-header.k-nonwork-hour {
  background-color: rgba(233, 233, 233, 0.15);
}
.k-scheduler-table .k-today,
.k-today > .k-scheduler-datecolumn,
.k-today > .k-scheduler-groupcolumn {
  background-color: #f8f8f8;
}
.k-scheduler-now-arrow {
  border-left-color: #721715;
}
.k-scheduler-now-line {
  background-color: #721715;
}
.k-event,
.k-task-complete {
  border-color: #69c1ff;
  background: #1da1ff 0 -257px none repeat-x;
  color: #2e2e2e;
}
.k-event-inverse {
  color: #ffffff;
}
.k-event.k-state-selected {
  background-position: 0 0;
  box-shadow: 0 0 0 2px #2e2e2e;
}
.k-event .k-resize-handle:after,
.k-task-single .k-resize-handle:after {
  background-color: #787878;
}
.k-scheduler-marquee:before,
.k-scheduler-marquee:after {
  border-color: #0070c0;
}
.k-panelbar .k-content,
.k-panelbar .k-panel,
.k-panelbar .k-item {
  background-color: #ffffff;
  color: #2e2e2e;
  border-color: #c5c5c5;
}
.k-panelbar > li > .k-link {
  color: #2e2e2e;
}
.k-panelbar > .k-item > .k-link {
  border-color: #c5c5c5;
}
.k-panel > li.k-item {
  background-color: #ffffff;
}
/* states */
.k-state-active,
.k-state-active:hover,
.k-active-filter {
  background-color: #ffffff;
  border-color: #9f9f9f;
  color: #313131;
}
.k-fieldselector .k-list-container {
  background-color: #ffffff;
}
.k-menu .k-state-hover > .k-state-active {
  background-color: transparent;
}
.k-mediaplayer-toolbar .k-button.k-bare:active,
.k-mediaplayer-toolbar .k-button.k-bare.k-state-active,
.k-mediaplayer-toolbar .k-button.k-bare.k-state-active:hover {
  color: #0070c0;
}
.k-menu .k-state-selected > .k-link {
  color: #ffffff;
  background-color: #0070c0;
  border-color: #0073c5;
  background-image: none;
  background-image: none, linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0px, rgba(255, 255, 255, 0) 100%);
}
.k-menu .k-link.k-state-active {
  background-color: #ffffff;
  border-color: #9f9f9f;
  color: #313131;
}
.k-menu .k-state-hover > .k-link,
.k-menu .k-menu-scroll-button:hover {
  color: #2e2e2e;
  background-color: #bcb4b0;
  border-color: #b6b6b6;
  background-image: none;
  background-image: none, linear-gradient(to bottom, rgba(255, 255, 255, 0.4) 0px, rgba(255, 255, 255, 0) 100%);
}
.k-state-highlight {
  background: #ffffff;
  color: #313131;
}
.k-state-focused,
.k-grouping-row .k-state-focused {
  border-color: #d5d5d5;
}
.k-calendar .k-link {
  color: #2e2e2e;
}
.k-calendar .k-footer {
  padding: 0;
}
.k-calendar .k-footer .k-nav-today {
  color: #2e2e2e;
  text-decoration: none;
  background-color: #ffffff;
}
.k-calendar .k-footer .k-nav-today:hover,
.k-calendar .k-footer .k-nav-today.k-state-hover {
  background-color: #ffffff;
  text-decoration: underline;
}
.k-calendar .k-footer .k-nav-today:active {
  background-color: #ffffff;
}
.k-calendar .k-link.k-nav-fast {
  color: #2e2e2e;
}
.k-calendar .k-nav-fast.k-state-hover {
  text-decoration: none;
  background-color: #bcb4b0;
  color: #2e2e2e;
}
.k-calendar .k-link.k-state-hover {
  border-radius: 4px;
}
.k-calendar .k-today {
  box-shadow: inset 0 0 0 1px #0070c0;
}
.k-calendar .k-today .k-link {
  color: #0070c0;
  font-weight: bold;
}
.k-calendar td.k-today.k-state-focused,
.k-calendar td.k-today.k-state-focused.k-state-hover {
  box-shadow: inset 0 0 3px 1px #aeaeae;
}
.k-calendar td.k-today.k-state-hover,
.k-calendar td.k-today.k-state-selected {
  box-shadow: none;
}
.k-calendar td.k-today.k-state-hover .k-link {
  color: #2e2e2e;
}
.k-calendar .k-footer .k-link {
  border-radius: 0;
}
.k-calendar th {
  background-color: #f5f5f5;
}
.k-calendar td.k-state-selected.k-state-hover {
  background-color: #0070c0;
  background-image: none;
}
.k-calendar td.k-state-selected .k-link,
.k-calendar td.k-today.k-state-selected.k-state-hover .k-link {
  color: #ffffff;
}
.k-calendar td.k-state-focused.k-state-selected,
.k-calendar td.k-state-selected.k-state-active,
.k-calendar td.k-state-selected:active,
.k-calendar td.k-state-selected.k-state-hover:active {
  box-shadow: inset 0 0 3px 1px #aeaeae;
}
.k-window-titlebar .k-link {
  border-radius: 4px;
}
.k-calendar-container.k-group {
  border-color: #c5c5c5;
}
.k-state-selected,
.k-state-selected:link,
.k-state-selected:visited,
.k-tool.k-state-selected,
.k-list > .k-state-selected,
.k-list > .k-state-highlight,
.k-panel > .k-state-selected,
.k-ghost-splitbar-vertical,
.k-ghost-splitbar-horizontal,
.k-draghandle.k-state-selected:hover,
.k-scheduler .k-scheduler-toolbar .k-state-selected,
.k-scheduler .k-today.k-state-selected,
.k-marquee-color {
  color: #ffffff;
  background-color: #989c9ee6;
  border-color: #222d32;
  background-image: none!important;
}
.k-virtual-item.k-first,
.k-group-header + .k-list > .k-item.k-first,
.k-static-header + .k-list > .k-item.k-first {
  border-top-color: #b6b6b6;
}
.k-group-header + div > .k-list > .k-item.k-first:before {
  border-top-color: #b9b3b3;
}
.k-popup > .k-group-header,
.k-popup > .k-virtual-wrap > .k-group-header {
  background: #b6b6b6;
  color: #ffffff;
}
.k-popup .k-list .k-item > .k-group {
  background: #b9b3b3;
  color: #fff;
  border-bottom-left-radius: 3px;
}
.k-popup .k-treeview .k-item > .k-group {
  background: transparent;
  color: #2e2e2e;
}
.k-marquee-text {
  color: #ffffff;
}
.k-state-focused,
.k-list > .k-state-focused,
.k-listview > .k-state-focused,
.k-grid-header th.k-state-focused,
td.k-state-focused {
  box-shadow: inset 0 0 3px 1px #aeaeae;
}
.k-state-focused.k-state-selected,
.k-list > .k-state-focused.k-state-selected,
.k-listview > .k-state-focused.k-state-selected,
td.k-state-focused.k-state-selected {
  box-shadow: inset 0 0 3px 1px #005592;
}
.k-list-optionlabel.k-state-selected.k-state-focused {
  box-shadow: none;
}
.k-state-selected > .k-link,
.k-panelbar > li > .k-state-selected,
.k-panelbar > li.k-state-default > .k-link.k-state-selected {
  color: #ffffff;
}
.k-state-hover,
.k-state-hover:hover,
.k-splitbar-horizontal-hover:hover,
.k-splitbar-vertical-hover:hover,
.k-list > .k-state-hover,
.k-scheduler .k-scheduler-toolbar ul li.k-state-hover,
.k-pager-wrap .k-link:hover,
.k-dropdown .k-state-focused,
.k-filebrowser-dropzone,
.k-mobile-list .k-item > .k-link:active,
.k-mobile-list .k-item > .k-label:active,
.k-mobile-list .k-edit-label.k-check:active,
.k-mobile-list .k-recur-view .k-check:active {
  color: #2e2e2e;
  background-color: #bcb4b0;
  border-color: #b6b6b6;
}
.k-pager-wrap .k-link.k-state-disabled {
  color: #2e2e2e;
  border-color: #d5d5d5;
}
/* this selector should be used separately, otherwise old IEs ignore the whole rule */
.k-mobile-list .k-scheduler-timezones .k-edit-field:nth-child(2):active {
  color: #2e2e2e;
  background-color: #bcb4b0;
  border-color: #b6b6b6;
}
.k-state-hover > .k-select,
.k-state-focused > .k-select {
  border-color: #b6b6b6;
}
.k-textbox:hover,
.k-state-hover,
.k-state-hover:hover,
.k-pager-wrap .k-link:hover,
.k-other-month.k-state-hover .k-link,
div.k-filebrowser-dropzone em,
.k-draghandle:hover,
.k-listbox .k-item:hover:not(.k-state-disabled) {
  background-image: none;
  background-image: none, linear-gradient(to bottom, rgba(255, 255, 255, 0.4) 0px, rgba(255, 255, 255, 0) 100%);
}
.k-pager-wrap {
  background-color: #eae8e8;
  color: #313131;
}
.k-picker-wrap.k-state-active,
.k-numeric-wrap.k-state-active,
.k-dropdown-wrap.k-state-active,
.k-state-active,
.k-state-active:hover,
.k-state-active > .k-link,
.k-panelbar > .k-item > .k-state-focused {
  background-image: none;
}
.k-state-selected,
.k-draghandle.k-state-selected:hover {
  background-image: none;
  background-image: none, linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0px, rgba(255, 255, 255, 0) 100%);
}
.k-draghandle.k-state-selected:hover {
  background-position: 50% 50%;
}
.k-state-hover > .k-link,
.k-other-month.k-state-hover .k-link,
div.k-filebrowser-dropzone em {
  color: #2e2e2e;
}
.km-pane-wrapper .k-mobile-list input:not([type="checkbox"]):not([type="radio"]),
.km-pane-wrapper .km-pane .k-mobile-list select:not([multiple]),
.km-pane-wrapper .k-mobile-list textarea,
.k-dropdown .k-state-focused .k-input {
  color: #2e2e2e;
}
.km-pane-wrapper .km-pane .k-mobile-list.k-filter-menu .k-space-right {
  background-image: none;
  background-image: none, linear-gradient(to bottom, rgba(255, 255, 255, 0.6) 0px, rgba(255, 255, 255, 0) 100%);
  background-position: 50% 50%;
  background: #ececec;
  border-color: #c5c5c5;
}
.km-pane-wrapper .km-pane .k-mobile-list.k-filter-menu .k-space-right > input {
  background: #ffffff;
  border-color: #c5c5c5;
}
.km-pane-wrapper .km-pane .k-mobile-list.k-filter-menu .k-space-right > input:focus {
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
}
.k-dropdown .k-state-hover .k-input {
  color: #2e2e2e;
}
.k-state-error {
  border-color: #721715;
  background-color: #f4f3f2;
  color: #55b8ff;
}
.k-state-disabled {
  opacity: .7;
}
.k-tile-empty.k-state-selected,
.k-loading-mask.k-state-selected {
  border-width: 0;
  background-image: none;
  background-color: transparent;
}
.k-state-disabled,
.k-state-disabled .k-link,
.k-other-month,
.k-other-month .k-link,
.k-dropzone em,
.k-tile-empty strong,
.k-slider .k-draghandle {
  color: #c3c3c3;
}
.k-dropzone .k-upload-status {
  color: #c3c3c3;
}
.k-file .k-upload-status {
  color: #2e2e2e;
}
.k-decade .k-other-month.k-state-hover .k-link,
.k-century .k-other-month.k-state-hover .k-link {
  background: none;
}
/* Progressbar */
.k-progressbar-indeterminate {
  background: url('https://kendo.cdn.telerik.com/2018.2.516/styles/Default/indeterminate.gif');
}
.k-progressbar-indeterminate .k-progress-status-wrap,
.k-progressbar-indeterminate .k-state-selected {
  display: none;
}
/* Slider */
.k-slider-track {
  background-color: #d5d5d5;
}
.k-slider-selection {
  background-color: #0070c0;
}
.k-slider-horizontal .k-tick {
  background-image: url('https://kendo.cdn.telerik.com/2018.2.516/styles/Default/slider-h.gif');
}
.k-slider-vertical .k-tick {
  background-image: url('https://kendo.cdn.telerik.com/2018.2.516/styles/Default/slider-v.gif');
}
/* Tooltip */
.k-widget.k-tooltip,
.k-chart-crosshair-tooltip,
.k-chart-shared-tooltip {
  background-image: none;
  background-image: none, linear-gradient(to bottom, rgba(255, 255, 255, 0.6) 0px, rgba(255, 255, 255, 0) 100%);
  background-position: 50% 50%;
  background-color: #eae8e8;
  color: #313131;
  border-color: transparent;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
.k-widget.k-tooltip-validation {
  border-color: #ffc000;
  background-color: #ffc000;
  color: #000000;
}
/* Bootstrap theme fix */
.input-prepend .k-tooltip-validation,
.input-append .k-tooltip-validation {
  font-size: 12px;
  position: relative;
  top: 3px;
}
.k-callout-n {
  border-bottom-color: #eae8e8;
}
.k-callout-w {
  border-right-color: #eae8e8;
}
.k-callout-s {
  border-top-color: #eae8e8;
}
.k-callout-e {
  border-left-color: #eae8e8;
}
.k-tooltip-validation .k-callout-n {
  border-bottom-color: #ffc000;
}
.k-tooltip-validation .k-callout-w {
  border-right-color: #ffc000;
}
.k-tooltip-validation .k-callout-s {
  border-top-color: #ffc000;
}
.k-tooltip-validation .k-callout-e {
  border-left-color: #ffc000;
}
/* Splitter */
.k-splitbar {
  background-color: #e9e9e9;
}
.k-restricted-size-vertical,
.k-restricted-size-horizontal {
  background-color: #55b8ff;
}
/* Upload */
.k-file {
  background-color: #ffffff;
  border-color: #d5d5d5;
}
.k-file-progress {
  color: #313131;
}
.k-file-progress .k-progress {
  background-color: #0066cc;
}
.k-file-success .k-file-name,
.k-file-success .k-upload-pct {
  color: #37b400;
}
.k-file-success .k-progress {
  background-color: #37b400;
}
.k-file-error {
  color: #db4240;
}
.k-file-error .k-file-extension-wrapper,
.k-file-error .k-multiple-files-extension-wrapper {
  color: #db4240;
  border-color: #db4240;
}
.k-file-error .k-file-extension-wrapper:before,
.k-file-error .k-multiple-files-extension-wrapper:before {
  border-color: transparent transparent #db4240 #db4240;
}
.k-file-error .k-progress,
.k-file-invalid .k-progress {
  background-color: #db4240;
}
.k-file-extension-wrapper,
.k-multiple-files-extension-wrapper {
  color: #c3c3c3;
  border-color: #c3c3c3;
}
.k-file-invalid .k-file-name-invalid {
  color: #db4240;
}
.k-file-invalid-extension-wrapper,
.k-multiple-files-invalid-extension-wrapper {
  color: #db4240;
  border-color: #f2bdbc;
}
.k-file-extension-wrapper:before,
.k-multiple-files-extension-wrapper:before {
  background-color: #ffffff;
  border-color: transparent transparent #c3c3c3 #c3c3c3;
}
.k-file-invalid-extension-wrapper:before,
.k-multiple-files-invalid-extension-wrapper:before {
  background-color: #ffffff;
  border-color: transparent transparent #f2bdbc #f2bdbc;
}
.k-multiple-files-extension-wrapper:after {
  border-top-color: #c3c3c3;
  border-left-color: #c3c3c3;
}
.k-multiple-files-invalid-extension-wrapper:after {
  border-top-color: #f2bdbc;
  border-left-color: #f2bdbc;
}
.k-file-size,
.k-file-information,
.k-file-validation-message {
  color: #c3c3c3;
}
.k-upload .k-upload-selected {
  color: #0070c0;
  border-color: #d5d5d5;
}
.k-upload-action:focus:active:not(.k-state-disabled):not([disabled]) {
  box-shadow: inset 0 0 3px 1px #b6b6b6;
}
/* ImageBrowser */
.k-tile {
  border-color: #ffffff;
}
.k-textbox:hover,
.k-tiles li.k-state-hover {
  border-color: #b6b6b6;
}
.k-tiles li.k-state-selected {
  border-color: #0073c5;
}
/* TreeMap */
.k-leaf,
.k-leaf.k-state-hover:hover {
  color: #fff;
}
.k-leaf.k-inverse,
.k-leaf.k-inverse.k-state-hover:hover {
  color: #000;
}
/* Shadows */
.k-slider,
.k-treeview,
.k-upload {
  box-shadow: none;
}
.k-state-hover {
  box-shadow: none;
}
.k-textbox:focus,
.k-autocomplete.k-state-focused,
.k-dropdown-wrap.k-state-focused,
.k-picker-wrap.k-state-focused,
.k-numeric-wrap.k-state-focused {
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
}
.k-state-selected {
  box-shadow: none;
}
.k-state-active {
  box-shadow: none;
}
.k-grid tr:hover {
  background-color: #bdb4af;
  background-image: none;
  background-image: none, linear-gradient(to bottom, rgba(255, 255, 255, 0.4) 0px, rgba(255, 255, 255, 0) 100%);
  background-position: 50% 50%;
}
.k-grid .k-filter-row:hover,
.k-pivot-rowheaders .k-grid tr:hover {
  background: none;
}
.k-grid tr.k-state-selected:hover,
.k-grid td.k-state-selected:hover {
  background-color: #b7babce6;
  background-image: none;
}
.k-popup,
.k-menu .k-menu-group,
.k-grid .k-filter-options,
.k-time-popup,
.k-datepicker-calendar,
.k-autocomplete.k-state-border-down,
.k-autocomplete.k-state-border-up,
.k-dropdown-wrap.k-state-active,
.k-picker-wrap.k-state-active,
.k-multiselect.k-state-focused,
.k-filebrowser .k-image,
.k-tooltip {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
}
.k-treemap-tile.k-state-hover {
  box-shadow: inset 0 0 0 3px #d5d5d5;
}
/* Window */
.k-window {
  border-color: rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 7px 1px rgba(128, 128, 128, 0.3);
  background-color: #ffffff;
}
.k-window.k-state-focused {
  border-color: rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.3);
}
.k-window.k-window-maximized,
.k-window-maximized .k-window-titlebar,
.k-window-maximized .k-window-content {
  border-radius: 0;
}
.k-shadow {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
}
.k-inset {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.3);
}
.k-editor-inline ::selection {
  background-color: #0073c5;
  text-shadow: none;
  color: #fff;
}
.k-editor-inline ::-moz-selection {
  background-color: #0073c5;
  text-shadow: none;
  color: #fff;
}
.k-editor-inline:hover,
.k-editor-inline.k-state-active {
  border-color: #d5d5d5;
}
.k-notification {
  background-image: linear-gradient(rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%);
}
.k-notification-info {
  background-color: #0066cc;
  color: #fff;
  border-color: #0066cc;
}
.k-notification-success {
  background-color: #37b400;
  color: #fff;
  border-color: #37b400;
}
.k-notification-warning {
  background-color: #ffc000;
  color: #000;
  border-color: #ffc000;
}
.k-notification-error {
  background-color: #db4240;
  color: #fff;
  border-color: #db4240;
}
/* Gantt */
.k-gantt .k-treelist {
  background: #f1f1f1;
}
.k-gantt .k-treelist .k-alt {
  background-color: #e4e4e4;
}
.k-gantt .k-treelist tr:hover {
  background-image: none;
  background-image: none, linear-gradient(to bottom, rgba(255, 255, 255, 0.6) 0px, rgba(255, 255, 255, 0) 100%);
  background-color: #b9b3b3;
}
.k-gantt .k-treelist .k-state-selected,
.k-gantt .k-treelist .k-state-selected td,
.k-gantt .k-treelist .k-alt.k-state-selected,
.k-gantt .k-treelist .k-alt.k-state-selected > td {
  background-color: #0070c0;
  background-image: none;
  background-image: none, linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0px, rgba(255, 255, 255, 0) 100%);
}
.k-gantt .k-treelist .k-state-selected:hover,
.k-gantt .k-treelist .k-state-selected:hover td {
  background-color: #0070c0;
  background-image: none;
}
.k-task-dot:after {
  background-color: #2e2e2e;
  border-color: #2e2e2e;
}
.k-task-dot:hover:after {
  background-color: #ffffff;
}
.k-task-summary {
  border-color: #6e6e6e;
  background: #6e6e6e;
}
.k-task-milestone,
.k-task-summary-complete {
  border-color: #2e2e2e;
  background: #2e2e2e;
}
.k-state-selected.k-task-summary {
  border-color: #41b0ff;
  background: #41b0ff;
}
.k-state-selected.k-task-milestone,
.k-state-selected .k-task-summary-complete {
  border-color: #0070c0;
  background: #0070c0;
}
.k-task-single {
  background-color: #8dcfff;
  border-color: #69c1ff;
  color: #2e2e2e;
}
.k-state-selected.k-task-single {
  border-color: #0073c5;
}
.k-line {
  background-color: #2e2e2e;
  color: #2e2e2e;
}
.k-state-selected.k-line {
  background-color: #0070c0;
  color: #0070c0;
}
.k-resource {
  background-color: #ffffff;
}
/* Border radius */
.k-block,
.k-textbox,
.k-drag-clue,
.k-touch-scrollbar,
.k-window,
.k-window-titleless .k-window-content,
.k-window-action,
.k-inline-block,
.k-grid .k-filter-options,
.k-grouping-header .k-group-indicator,
.k-autocomplete,
.k-multiselect,
.k-combobox,
.k-dropdown,
.k-dropdown-wrap,
.k-datepicker,
.k-timepicker,
.k-colorpicker,
.k-datetimepicker,
.k-notification,
.k-numerictextbox,
.k-picker-wrap,
.k-numeric-wrap,
.k-list-container,
.k-calendar-container,
.k-calendar td,
.k-calendar .k-link,
.k-treeview .k-in,
.k-editor-inline,
.k-tooltip,
.k-tile,
.k-slider-track,
.k-slider-selection,
.k-upload,
.k-split-button .k-gantt-views,
.k-gantt-views > .k-current-view {
  border-radius: 4px;
}
.k-tool {
  text-align: center;
  vertical-align: middle;
}
.k-tool.k-group-start,
.k-toolbar .k-split-button .k-button,
.k-toolbar .k-button-group .k-group-start {
  border-radius: 4px 0 0 4px;
}
.k-rtl .k-tool.k-group-start,
.k-rtl .k-toolbar .k-split-button .k-button,
.k-rtl .k-toolbar .k-button-group .k-group-start {
  border-radius: 0 4px 4px 0;
}
.k-toolbar .k-button-group > .k-group-end {
  border-radius: 4px;
}
.k-tool.k-group-end,
.k-toolbar .k-button-group .k-button + .k-group-end,
.k-toolbar .k-split-button .k-split-button-arrow {
  border-radius: 0 4px 4px 0;
}
.k-rtl .k-tool.k-group-end,
.k-rtl .k-toolbar .k-button-group .k-group-end,
.k-rtl .k-toolbar .k-split-button .k-split-button-arrow {
  border-radius: 4px 0 0 4px;
}
.k-group-start.k-group-end.k-tool {
  border-radius: 4px;
}
.k-calendar-container.k-state-border-up,
.k-list-container.k-state-border-up,
.k-autocomplete.k-state-border-up,
.k-multiselect.k-state-border-up,
.k-dropdown-wrap.k-state-border-up,
.k-picker-wrap.k-state-border-up,
.k-numeric-wrap.k-state-border-up,
.k-window-content,
.k-filter-menu {
  border-radius: 0 0 4px 4px;
}
.k-autocomplete.k-state-border-up .k-input,
.k-dropdown-wrap.k-state-border-up .k-input,
.k-picker-wrap.k-state-border-up .k-input,
.k-picker-wrap.k-state-border-up .k-selected-color,
.k-numeric-wrap.k-state-border-up .k-input {
  border-radius: 0 0 0 4px;
}
.k-multiselect.k-state-border-up .k-multiselect-wrap {
  border-radius: 0 0 4px 4px;
}
.k-window-titlebar,
.k-block > .k-header,
.k-tabstrip-items .k-item,
.k-panelbar .k-tabstrip-items .k-item,
.k-tabstrip-items .k-link,
.k-calendar-container.k-state-border-down,
.k-list-container.k-state-border-down,
.k-autocomplete.k-state-border-down,
.k-multiselect.k-state-border-down,
.k-dropdown-wrap.k-state-border-down,
.k-picker-wrap.k-state-border-down,
.k-numeric-wrap.k-state-border-down,
.k-gantt-views.k-state-expanded,
.k-gantt-views.k-state-expanded > .k-current-view {
  border-radius: 4px 4px 0 0;
}
.k-split-button.k-state-border-down > .k-button {
  border-radius: 4px 0 0 0;
}
.k-split-button.k-state-border-up > .k-button {
  border-radius: 0 0 0 4px;
}
.k-split-button.k-state-border-down > .k-split-button-arrow {
  border-radius: 0 4px 0 0;
}
.k-split-button.k-state-border-up > .k-split-button-arrow {
  border-radius: 0 0 4px 0;
}
.k-dropdown-wrap .k-input,
.k-picker-wrap .k-input,
.k-numeric-wrap .k-input {
  border-radius: 3px 0 0 3px;
}
.k-rtl .k-dropdown-wrap .k-input,
.k-rtl .k-picker-wrap .k-input,
.k-rtl .k-numeric-wrap .k-input {
  border-radius: 0 3px 3px 0;
}
.k-numeric-wrap .k-link {
  border-radius: 0 3px 0 0;
}
.k-numeric-wrap .k-link + .k-link {
  border-radius: 0 0 3px 0;
}
.k-colorpicker .k-selected-color {
  border-radius: 3px 0 0 3px;
}
.k-rtl .k-colorpicker .k-selected-color {
  border-radius: 0 3px 3px 0;
}
.k-autocomplete.k-state-border-down .k-input {
  border-radius: 4px 4px 0 0;
}
.k-dropdown-wrap.k-state-border-down .k-input,
.k-picker-wrap.k-state-border-down .k-input,
.k-picker-wrap.k-state-border-down .k-selected-color,
.k-numeric-wrap.k-state-border-down .k-input {
  border-radius: 4px 0 0 0;
}
.k-numeric-wrap .k-link.k-state-selected {
  background-color: #0070c0;
}
.k-multiselect.k-state-border-down .k-multiselect-wrap {
  border-radius: 3px 3px 0 0;
}
.k-dropdown-wrap .k-select,
.k-picker-wrap .k-select,
.k-numeric-wrap .k-select,
.k-datetimepicker .k-select + .k-select,
.k-list-container.k-state-border-right {
  border-radius: 0 4px 4px 0;
}
.k-rtl .k-dropdown-wrap .k-select,
.k-rtl .k-picker-wrap .k-select,
.k-rtl .k-numeric-wrap .k-select,
.k-rtl .k-datetimepicker .k-select + .k-select,
.k-rtl .k-list-container.k-state-border-right {
  border-radius: 4px 0 0 4px;
}
.k-numeric-wrap.k-expand-padding .k-input {
  border-radius: 4px;
}
.k-textbox > input,
.k-autocomplete .k-input,
.k-multiselect-wrap {
  border-radius: 3px;
}
.k-list .k-state-hover,
.k-list .k-state-focused,
.k-list .k-state-highlight,
.k-list .k-state-selected,
.k-fieldselector .k-list .k-item,
.k-list-optionlabel,
.k-dropzone,
.k-listbox .k-item {
  border-radius: 3px;
}
.k-slider .k-button,
.k-grid .k-slider .k-button {
  border-radius: 13px;
}
.k-draghandle {
  border-radius: 7px;
}
.k-scheduler-toolbar > ul li:first-child,
.k-scheduler-toolbar > ul li:first-child .k-link,
.k-scheduler-toolbar > ul.k-scheduler-views li:first-child + li,
.k-scheduler-toolbar > ul.k-scheduler-views li:first-child + li .k-link {
  border-radius: 4px 0 0 4px;
}
.k-rtl .k-scheduler-toolbar > ul li:first-child,
.k-rtl .k-scheduler-toolbar > ul li:first-child .k-link,
.k-rtl .k-scheduler-toolbar > ul.k-scheduler-views li:first-child + li,
.k-rtl .k-scheduler-toolbar > ul.k-scheduler-views li:first-child + li .k-link,
.km-view.k-popup-edit-form .k-scheduler-toolbar > ul li:last-child,
.km-view.k-popup-edit-form .k-scheduler-toolbar > ul li:last-child .k-link {
  border-radius: 0 4px 4px 0;
}
.k-scheduler-phone .k-scheduler-toolbar > ul li.k-nav-today,
.k-scheduler-phone .k-scheduler-toolbar > ul li.k-nav-today .k-link,
.k-edit-field > .k-scheduler-navigation {
  border-radius: 4px;
}
.k-scheduler-toolbar .k-nav-next,
.k-scheduler-toolbar ul + ul li:last-child,
.k-scheduler-toolbar .k-nav-next .k-link,
.k-scheduler-toolbar ul + ul li:last-child .k-link {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.k-rtl .k-scheduler-toolbar .k-nav-next,
.k-rtl .k-scheduler-toolbar ul + ul li:last-child,
.k-rtl .k-scheduler-toolbar .k-nav-next .k-link,
.k-rtl .k-scheduler-toolbar ul + ul li:last-child .k-link {
  border-radius: 4px 0 0 4px;
}
.k-scheduler div.k-scheduler-footer ul li,
.k-scheduler div.k-scheduler-footer .k-link {
  border-radius: 4px;
}
.k-more-events,
.k-event,
.k-task-single,
.k-task-complete,
.k-event .k-link {
  border-radius: 3px;
}
.k-scheduler-mobile .k-event {
  border-radius: 2px;
}
/* Adaptive Grid */
.k-grid-mobile .k-column-active + th.k-header {
  border-left-color: #2e2e2e;
}
html .km-pane-wrapper .km-widget,
.k-ie .km-pane-wrapper .k-widget,
.k-ie .km-pane-wrapper .k-group,
.k-ie .km-pane-wrapper .k-content,
.k-ie .km-pane-wrapper .k-header,
.k-ie .km-pane-wrapper .k-popup-edit-form .k-edit-field .k-button,
.km-pane-wrapper .k-mobile-list .k-item,
.km-pane-wrapper .k-mobile-list .k-edit-label,
.km-pane-wrapper .k-mobile-list .k-edit-field {
  color: #2e2e2e;
}
@media screen and (-ms-high-contrast: active) and (-ms-high-contrast: none) {
  div.km-pane-wrapper a {
    color: #2e2e2e;
  }
}
.km-pane-wrapper .k-mobile-list .k-item,
.km-pane-wrapper .k-mobile-list .k-edit-field,
.km-pane-wrapper .k-mobile-list .k-recur-view > .k-edit-field .k-check {
  background-color: #ffffff;
  border-top: 1px solid #c5c5c5;
}
.km-pane-wrapper .k-mobile-list .k-edit-field textarea {
  outline-width: 0;
}
.km-pane-wrapper .k-mobile-list .k-item.k-state-selected {
  background-color: #0070c0;
  border-top-color: #0073c5;
}
.km-pane-wrapper .k-mobile-list .k-recur-view > .k-edit-field .k-check:first-child {
  border-top-color: transparent;
}
.km-pane-wrapper .k-mobile-list .k-item:last-child {
  box-shadow: inset 0 -1px 0 #c5c5c5;
}
.km-pane-wrapper .k-mobile-list > ul > li > .k-link,
.km-pane-wrapper .k-mobile-list .k-recur-view > .k-edit-label:nth-child(3),
.km-pane-wrapper #recurrence .km-scroll-container > .k-edit-label:first-child {
  color: #313131;
  opacity: 0.7;
}
.km-pane-wrapper .k-mobile-list > ul > li > .k-link {
  border-bottom: 1px solid #c5c5c5;
}
.km-pane-wrapper .k-mobile-list .k-edit-field {
  box-shadow: 0 1px 1px #c5c5c5;
}
.km-actionsheet .k-grid-delete,
.km-actionsheet .k-scheduler-delete,
.km-pane-wrapper .k-scheduler-delete,
.km-pane-wrapper .k-filter-menu .k-button[type=reset] {
  color: #fff;
  border-color: #721715;
  background-color: red;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.15));
}
.km-actionsheet .k-grid-delete:active,
.km-actionsheet .k-scheduler-delete:active,
.km-pane-wrapper .k-scheduler-delete:active,
.km-pane-wrapper .k-filter-menu .k-button[type=reset]:active {
  background-color: #990000;
}
/* /Column Menu */
.k-autocomplete.k-state-default,
.k-picker-wrap.k-state-default,
.k-numeric-wrap.k-state-default,
.k-dropdown-wrap.k-state-default {
  background-image: none;
  background-image: none, linear-gradient(to bottom, rgba(255, 255, 255, 0.6) 0px, rgba(255, 255, 255, 0) 100%);
  background-position: 50% 50%;
  background-color: #ececec;
  border-color: #c5c5c5;
}
.k-picker-wrap.k-state-hover,
.k-numeric-wrap.k-state-hover,
.k-dropdown-wrap.k-state-hover {
  background-color: #bdb4af;
  background-image: none;
  background-image: none, linear-gradient(to bottom, rgba(255, 255, 255, 0.4) 0px, rgba(255, 255, 255, 0) 100%);
  background-position: 50% 50%;
  border-color: #b6b6b6;
}
.k-autocomplete.k-state-hover,
.k-state-hover > .k-multiselect-wrap,
.k-multiselect-wrap.k-state-hover {
  border-color: #b6b6b6;
  background: #fff;
  color: #2e2e2e;
}
input.k-textbox,
textarea.k-textbox,
.k-multiselect-wrap,
.k-maskedtextbox.k-state-disabled > .k-textbox:hover,
.k-dateinput.k-state-disabled > .k-textbox:hover {
  border-color: #c5c5c5;
}
.k-picker-wrap.k-state-focused,
.k-numeric-wrap.k-state-focused,
.k-dropdown-wrap.k-state-focused {
  background-color: #bdb4af;
  background-image: none;
  background-image: none, linear-gradient(to bottom, rgba(255, 255, 255, 0.4) 0px, rgba(255, 255, 255, 0) 100%);
  background-position: 50% 50%;
  border-color: #bdbdbd;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
}
.k-autocomplete.k-state-focused,
.k-state-focused > .k-multiselect-wrap,
.k-multiselect-wrap.k-state-focused {
  border-color: #bdbdbd;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
}
.k-list-container {
  color: #2e2e2e;
}
.k-nodata {
  color: #c3c3c3;
}
.k-dropdown .k-input,
.k-dropdown .k-state-focused .k-input,
.k-multiselect .k-button,
.k-multiselect .k-button:hover,
.k-menu .k-popup {
  color: #2e2e2e;
}
.k-state-default > .k-select {
  border-color: #c5c5c5;
}
.k-state-hover > .k-select {
  border-color: #b6b6b6;
}
.k-state-focused > .k-select {
  border-color: #bdbdbd;
}
.k-tabstrip:focus {
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
}
.k-tabstrip-items .k-state-default .k-link,
.k-panelbar > li.k-state-default > .k-link {
  color: #2e2e2e;
}
.k-tabstrip-items .k-state-hover .k-link,
.k-panelbar > li.k-state-hover > .k-link,
.k-panelbar > li.k-state-default > .k-link.k-state-hover {
  color: #2e2e2e;
}
.k-panelbar > .k-state-focused.k-state-hover {
  background: #bcb4b0;
  box-shadow: none;
}
.k-tabstrip-items .k-state-default {
  border-color: #c5c5c5;
}
.k-tabstrip-items .k-state-hover {
  border-color: #b6b6b6;
}
.k-tabstrip-items .k-state-active,
.k-panelbar .k-tabstrip-items .k-state-active {
  background-color: #ffffff;
  background-image: none;
  border-color: #9f9f9f;
}
.k-tabstrip-top > .k-tabstrip-items .k-state-active,
.k-panelbar .k-tabstrip-top > .k-tabstrip-items .k-state-active {
  border-bottom-color: #ffffff;
}
.k-tabstrip .k-content.k-state-active {
  background-color: #ffffff;
  color: #2e2e2e;
}
.k-menu.k-header,
.k-menu .k-item {
  border-color: #c5c5c5;
}
.k-column-menu,
.k-column-menu .k-item,
.k-overflow-container .k-overflow-group {
  border-color: #c5c5c5;
}
.k-toolbar .k-button.k-state-disabled:focus {
  border-color: #c5c5c5;
  box-shadow: inset 0 0 3px 1px #b6b6b6;
}
.k-overflow-container .k-button-group .k-button {
  border-radius: 4px;
}
.k-overflow-container .k-overflow-group {
  box-shadow: inset 0 1px 0 #ffffff, 0 1px 0 #ffffff;
}
.k-overflow-container .k-separator {
  border-color: #c5c5c5;
}
.k-toolbar-first-visible.k-overflow-group,
.k-overflow-container .k-overflow-group + .k-overflow-group {
  box-shadow: 0 1px 0 #ffffff;
}
.k-toolbar-last-visible.k-overflow-group {
  box-shadow: inset 0 1px 0 #ffffff;
}
.k-column-menu .k-separator {
  border-color: #c5c5c5;
  background-color: transparent;
}
.k-menu .k-group {
  border-color: #c5c5c5;
}
.k-grid-filter.k-state-active {
  background-color: #ffffff;
}
.k-grouping-row td,
.k-group-footer td,
.k-grid-footer td {
  color: #2e2e2e;
  border-color: #c5c5c5;
  font-weight: bold;
}
.k-grouping-header {
  color: #2e2e2e;
}
.k-grid td.k-state-focused {
  box-shadow: inset 0 0 3px 1px #aeaeae;
}
.k-header,
.k-grid-header-wrap,
.k-grid .k-grouping-header,
.k-grid-header,
.k-pager-wrap,
.k-pager-wrap .k-textbox,
.k-pager-wrap .k-link,
.k-grouping-header .k-group-indicator,
.k-gantt-toolbar .k-state-default {
  border-color: #c5c5c5;
}
.k-pager-numbers .k-link,
.k-treeview .k-in {
  border-color: transparent;
}
.k-treeview .k-icon,
.k-scheduler-table .k-icon,
.k-grid .k-hierarchy-cell .k-icon {
  background-color: transparent;
  border-radius: 4px;
}
.k-scheduler-table .k-state-hover .k-icon {
  background-color: transparent;
}
.k-editor .k-tool:focus {
  outline: 0;
  border-color: #c5c5c5;
  box-shadow: inset 0 0 3px 1px #b6b6b6;
}
.k-checkbox-label:before {
  border-color: #c5c5c5;
  background: #fff;
  border-radius: 3px;
}
.k-checkbox:hover + .k-checkbox-label:before,
.k-checkbox:checked:hover + .k-checkbox-label:before,
.k-checkbox-label:hover:before,
.k-checkbox:checked + .k-checkbox-label:hover:before {
  border-color: #acacac;
  box-shadow: none;
}
.k-checkbox:checked + .k-checkbox-label:before {
  background-color: #ffffff;
  border-color: #cacaca;
  color: #0073c5;
}
.k-checkbox:active + .k-checkbox-label:before,
.k-checkbox-label:active:before {
  box-shadow: 0 0 3px 0 #0070c0;
  border-color: #0073c5;
}
.k-checkbox:checked:active + .k-checkbox-label:before,
.k-checkbox:checked + .k-checkbox-label:active:before {
  box-shadow: 0 0 3px 0 #0070c0;
  border-color: #0073c5;
}
.k-checkbox:disabled + .k-checkbox-label {
  color: #c3c3c3;
}
.k-checkbox:disabled + .k-checkbox-label:hover:before {
  box-shadow: none;
}
.k-checkbox:disabled + .k-checkbox-label:before,
.k-checkbox:checked:disabled + .k-checkbox-label:before,
.k-checkbox:checked:disabled + .k-checkbox-label:active:before,
.k-checkbox:checked:disabled + .k-checkbox-label:hover:before {
  color: #c3c3c3;
  background: #edebea;
  border-color: #cacaca;
  border-radius: 3px;
}
.k-checkbox:focus + .k-checkbox-label:before,
.k-checkbox:focus + .k-checkbox-label:hover:before {
  border-color: #0073c5;
  box-shadow: 0 0 3px 0 #0070c0;
}
.k-checkbox:indeterminate + .k-checkbox-label:after {
  background-color: #0073c5;
  background-image: none;
  background-image: none, linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0px, rgba(255, 255, 255, 0) 100%);
  border-color: #0073c5;
  border-radius: 2px;
}
.k-checkbox:indeterminate:hover + .k-checkbox-label:after {
  border-color: #0073c5;
  background-color: #0073c5;
}
.k-radio-label:before {
  border-color: #c5c5c5;
  border-radius: 50%;
  background-color: #fff;
  border-width: 1px;
}
.k-radio-label:hover:before,
.k-radio:checked + .k-radio-label:hover:before {
  border-color: #acacac;
  box-shadow: none;
}
.k-radio:checked + .k-radio-label:after {
  background-color: #0079cf;
  border-radius: 50%;
}
.k-radio-label:active:before {
  border-color: #0073c5;
  box-shadow: 0 0 3px 0 #0070c0;
}
.k-radio:checked + .k-radio-label:active:before {
  box-shadow: 0 0 3px 0 #0070c0;
  border-color: #0073c5;
}
.k-radio:disabled + .k-radio-label {
  color: #c3c3c3;
}
.k-radio:disabled + .k-radio-label:before,
.k-radio:disabled + .k-radio-label:active:before,
.k-radio:disabled + .k-radio-label:hover:after,
.k-radio:disabled + .k-radio-label:hover:before {
  background: #edebea;
  border-color: #bfbfbf;
  box-shadow: none;
}
.k-radio:disabled:checked + .k-radio-label:after {
  background-color: #0079cf;
  opacity: .5;
}
.k-radio:focus + .k-radio-label:before {
  border-color: #0073c5;
  box-shadow: 0 0 3px 0 #0070c0;
}
@media screen and (-ms-high-contrast: active) {
  .k-editor-toolbar-wrap .k-dropdown-wrap.k-state-focused,
  .k-editor-toolbar-wrap .k-button-group .k-tool:focus {
    border-color: #fff;
  }
}
/* Responsive styles */
@media only screen and (max-width: 1024px) {
  .k-webkit .k-pager-numbers,
  .k-ff .k-pager-numbers,
  .k-ie11 .k-pager-numbers,
  .k-edge .k-pager-numbers,
  .k-safari .k-pager-numbers,
  .k-webkit .k-grid .k-pager-numbers,
  .k-ff .k-grid .k-pager-numbers,
  .k-ie11 .k-grid .k-pager-numbers,
  .k-edge .k-grid .k-pager-numbers,
  .k-safari .k-grid .k-pager-numbers {
    transform: translatey(-100%);
    -webkit-transform: translatey(-100%);
  }
  .k-webkit .k-pager-numbers .k-current-page,
  .k-ff .k-pager-numbers .k-current-page,
  .k-ie11 .k-pager-numbers .k-current-page,
  .k-edge .k-pager-numbers .k-current-page,
  .k-safari .k-pager-numbers .k-current-page,
  .k-webkit .k-grid .k-pager-numbers .k-current-page,
  .k-ff .k-grid .k-pager-numbers .k-current-page,
  .k-ie11 .k-grid .k-pager-numbers .k-current-page,
  .k-edge .k-grid .k-pager-numbers .k-current-page,
  .k-safari .k-grid .k-pager-numbers .k-current-page {
    transform: translatey(100%);
    -webkit-transform: translatey(100%);
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-webkit .k-pager-numbers .k-current-page .k-link,
  .k-ff .k-pager-numbers .k-current-page .k-link,
  .k-ie11 .k-pager-numbers .k-current-page .k-link,
  .k-edge .k-pager-numbers .k-current-page .k-link,
  .k-safari .k-pager-numbers .k-current-page .k-link {
    background-image: none;
    background-image: none, linear-gradient(to bottom, rgba(255, 255, 255, 0.6) 0px, rgba(255, 255, 255, 0) 100%);
    background-position: 50% 50%;
    background-color: #ececec;
    border-color: #d5d5d5;
  }
  .k-webkit .k-pager-numbers .k-current-page .k-link,
  .k-ff .k-pager-numbers .k-current-page .k-link,
  .k-ie11 .k-pager-numbers .k-current-page .k-link,
  .k-edge .k-pager-numbers .k-current-page .k-link,
  .k-safari .k-pager-numbers .k-current-page .k-link {
    border-color: #c5c5c5;
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view {
    border-radius: 4px;
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li {
    border-radius: 0;
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li.k-current-view,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li.k-current-view,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li.k-current-view,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li.k-current-view,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li.k-current-view {
    border-radius: 3px 3px 0 0;
  }
  .k-webkit .k-scheduler-toolbar > ul li:first-child,
  .k-ff .k-scheduler-toolbar > ul li:first-child,
  .k-ie11 .k-scheduler-toolbar > ul li:first-child,
  .k-edge .k-scheduler-toolbar > ul li:first-child,
  .k-safari .k-scheduler-toolbar > ul li:first-child,
  .k-webkit .k-scheduler-toolbar > ul li:first-child .k-link,
  .k-ff .k-scheduler-toolbar > ul li:first-child .k-link,
  .k-ie11 .k-scheduler-toolbar > ul li:first-child .k-link,
  .k-edge .k-scheduler-toolbar > ul li:first-child .k-link,
  .k-safari .k-scheduler-toolbar > ul li:first-child .k-link,
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views li,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views li,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views li,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views li,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views li,
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views li .k-link,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views li .k-link,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views li .k-link,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views li .k-link,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views li .k-link {
    border-radius: 0;
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views li:last-child,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views li:last-child,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views li:last-child,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views li:last-child,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views li:last-child,
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views li:last-child .k-link,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views li:last-child .k-link,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views li:last-child .k-link,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views li:last-child .k-link,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views li:last-child .k-link {
    border-radius: 0 0 3px 3px;
  }
  .k-webkit .k-pager-numbers .k-current-page .k-link:hover,
  .k-ff .k-pager-numbers .k-current-page .k-link:hover,
  .k-ie11 .k-pager-numbers .k-current-page .k-link:hover,
  .k-edge .k-pager-numbers .k-current-page .k-link:hover,
  .k-safari .k-pager-numbers .k-current-page .k-link:hover,
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover {
    border-color: #b6b6b6;
    background-image: none;
    background-image: none, linear-gradient(to bottom, rgba(255, 255, 255, 0.4) 0px, rgba(255, 255, 255, 0) 100%);
    background-color: #bcb4b0;
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link {
    color: #2e2e2e;
    min-width: 75px;
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover > .k-link,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover > .k-link,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover > .k-link,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover > .k-link,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover > .k-link {
    color: #2e2e2e;
  }
  .k-webkit .k-pager-numbers .k-current-page .k-link:after,
  .k-ff .k-pager-numbers .k-current-page .k-link:after,
  .k-ie11 .k-pager-numbers .k-current-page .k-link:after,
  .k-edge .k-pager-numbers .k-current-page .k-link:after,
  .k-safari .k-pager-numbers .k-current-page .k-link:after,
  .k-webkit .k-scheduler-views > li.k-state-selected > .k-link:after,
  .k-ff .k-scheduler-views > li.k-state-selected > .k-link:after,
  .k-ie11 .k-scheduler-views > li.k-state-selected > .k-link:after,
  .k-edge .k-scheduler-views > li.k-state-selected > .k-link:after,
  .k-safari .k-scheduler-views > li.k-state-selected > .k-link:after {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -0.5em;
    right: 0.333em;
    width: 1.333em;
    height: 1.333em;
  }
  .k-webkit .k-pager-numbers.k-state-expanded,
  .k-ff .k-pager-numbers.k-state-expanded,
  .k-ie11 .k-pager-numbers.k-state-expanded,
  .k-edge .k-pager-numbers.k-state-expanded,
  .k-safari .k-pager-numbers.k-state-expanded,
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded {
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: #c5c5c5;
    background-color: #eae8e8;
    border-radius: 4px 4px 0 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-edge .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-safari .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded {
    border-width: 1px;
    background-image: none;
    border-radius: 4px;
  }
  .k-webkit .k-pager-numbers .k-state-selected,
  .k-ff .k-pager-numbers .k-state-selected,
  .k-ie11 .k-pager-numbers .k-state-selected,
  .k-edge .k-pager-numbers .k-state-selected,
  .k-safari .k-pager-numbers .k-state-selected,
  .k-webkit .k-pager-numbers .k-link,
  .k-ff .k-pager-numbers .k-link,
  .k-ie11 .k-pager-numbers .k-link,
  .k-edge .k-pager-numbers .k-link,
  .k-safari .k-pager-numbers .k-link {
    border-radius: 3px;
  }
  .k-webkit .k-widget.k-grid .k-pager-nav + .k-pager-numbers,
  .k-ff .k-widget.k-grid .k-pager-nav + .k-pager-numbers,
  .k-ie11 .k-widget.k-grid .k-pager-nav + .k-pager-numbers,
  .k-edge .k-widget.k-grid .k-pager-nav + .k-pager-numbers,
  .k-safari .k-widget.k-grid .k-pager-nav + .k-pager-numbers {
    position: absolute;
  }
  .k-grid .k-pager-numbers:not(.k-state-expanded) {
    transform: none;
  }
  .k-grid .k-pager-numbers:not(.k-state-expanded) .k-current-page {
    transform: none;
  }
}
.k-chart .k-mask {
  background-color: #ffffff;
  filter: alpha(opacity=68);
  opacity: 0.68;
}
.k-chart .k-selection {
  border-color: rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s linear, border-color 0.2s linear;
}
.k-chart .k-selection:hover {
  border-color: rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.2);
}
.k-chart .k-handle {
  background-color: #fcfcfc;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
}
.k-chart .k-handle:hover {
  background-color: #ffffff;
  border-color: #b8b8b8;
  box-shadow: 0 0 0 2px rgba(111, 101, 96, 0.5);
}
.k-chart .k-navigator-hint .k-tooltip {
  border: 3px solid #ffffff;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2);
  background: #ffffff;
  color: #242424;
}
.k-chart .k-navigator-hint .k-scroll {
  background: rgba(0, 112, 192, 0.7);
  height: 4px;
}
/* Map */
.k-map .k-marker {
  font-size: 28px;
  color: #0070c0;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}
.k-map .k-attribution {
  color: #666666;
}
.k-spreadsheet-row-header,
.k-spreadsheet-column-header {
  background-color: #ffffff;
}
.k-spreadsheet-top-corner,
.k-spreadsheet-row-header,
.k-spreadsheet-column-header {
  background-color: #e9e9e9;
  background-image: none;
  color: #000000;
  border-color: #b6b6b6;
}
.k-spreadsheet-top-corner {
  border-color: #b6b6b6;
}
.k-spreadsheet-top-corner:after {
  border-color: transparent #b6b6b6 #b6b6b6 transparent;
}
.k-spreadsheet-pane {
  border-color: #b6b6b6;
}
.k-spreadsheet-pane .k-spreadsheet-vaxis,
.k-spreadsheet-pane .k-spreadsheet-haxis {
  border-color: #d0d0d0;
}
.k-spreadsheet-pane .k-spreadsheet-column-header,
.k-spreadsheet-pane .k-spreadsheet-row-header {
  border-color: #b6b6b6;
}
.k-spreadsheet-pane .k-spreadsheet-merged-cell {
  background-color: #ffffff;
}
.k-spreadsheet-pane .k-selection-partial,
.k-spreadsheet-pane .k-selection-full {
  border-color: rgba(0, 112, 192, 0.2);
  background-color: rgba(0, 112, 192, 0.2);
}
.k-spreadsheet-pane .k-filter-range {
  border-color: #0070c0;
}
.k-spreadsheet-pane .k-spreadsheet-column-header .k-selection-partial,
.k-spreadsheet-pane .k-spreadsheet-column-header .k-selection-full {
  border-bottom-color: #0070c0;
}
.k-spreadsheet-pane .k-spreadsheet-row-header .k-selection-partial,
.k-spreadsheet-pane .k-spreadsheet-row-header .k-selection-full {
  border-right-color: #0070c0;
}
.k-auto-fill,
.k-spreadsheet-selection {
  border-color: #0070c0;
  box-shadow: inset 0 0 0 1px #0070c0;
}
.k-auto-fill-wrapper .k-tooltip {
  background: #ffffff;
}
.k-spreadsheet-selection {
  background-color: rgba(0, 112, 192, 0.2);
}
.k-spreadsheet-active-cell {
  box-shadow: inset 0 0 0 1px #0070c0;
  background-color: #ffffff;
}
.k-spreadsheet-active-cell.k-right {
  box-shadow: inset 0 0 0 1px #0070c0, inset -1px 0 0 1px #0070c0;
}
.k-spreadsheet-active-cell.k-bottom {
  box-shadow: inset 0 0 0 1px #0070c0, inset 0 -1px 0 1px #0070c0;
}
.k-spreadsheet-active-cell.k-bottom.k-right {
  box-shadow: inset 0 0 0 1px #0070c0, inset -1px -1px 0 1px #0070c0;
}
.k-spreadsheet-active-cell.k-single {
  color: #2e2e2e;
  background-color: #ffffff;
}
.k-spreadsheet .k-spreadsheet-action-bar {
  background-color: #ffffff;
  border-color: #d5d5d5;
}
.k-spreadsheet .k-spreadsheet-action-bar .k-spreadsheet-name-editor {
  border-color: #b6b6b6;
}
.k-spreadsheet .k-spreadsheet-action-bar .k-spreadsheet-formula-bar::before {
  border-color: #b6b6b6;
}
.k-spreadsheet .k-spreadsheet-formula-input {
  background-color: #ffffff;
  color: #2e2e2e;
}
.k-spreadsheet .k-resize-handle,
.k-spreadsheet .k-resize-hint-handle,
.k-spreadsheet .k-resize-hint-marker {
  background-color: #0070c0;
}
.k-spreadsheet .k-resize-hint-vertical .k-resize-hint-handle,
.k-spreadsheet .k-resize-hint-vertical .k-resize-hint-marker {
  background-color: #0070c0;
}
.k-spreadsheet .k-single-selection::after {
  background-color: #0070c0;
  border-color: #ffffff;
}
.k-spreadsheet .k-auto-fill-punch {
  background-color: rgba(255, 255, 255, 0.5);
}
.k-spreadsheet .k-single-selection.k-dim-auto-fill-handle::after {
  background-color: rgba(0, 112, 192, 0.5);
}
.k-spreadsheet-format-cells .k-spreadsheet-preview {
  border-color: #d5d5d5;
}
.k-spreadsheet-filter {
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: inset 0 0 0 1px #d0d0d0;
}
.k-spreadsheet-filter.k-state-active {
  color: #ffffff;
  background-color: #0070c0;
}
.k-spreadsheet-filter:hover {
  color: #2e2e2e;
  background: #bcb4b0;
  border-color: #a99f9a;
}
.k-action-window .k-action-buttons {
  border-color: #d5d5d5;
  background: #eae8e8;
}
.k-spreadsheet-sample {
  color: #7a7a7a;
}
.k-state-selected .k-spreadsheet-sample {
  color: inherit;
}
.k-spreadsheet-window .k-list {
  border-color: #d5d5d5;
  border-radius: 4px;
}
.k-spreadsheet-toolbar.k-toolbar .k-button-group .k-button:not(.k-toggle-button) {
  border-radius: 4px;
}
.k-spreadsheet-toolbar > .k-widget,
.k-spreadsheet-toolbar > .k-button,
.k-spreadsheet-toolbar > .k-button-group {
  border-radius: 4px;
}
.k-spreadsheet-toolbar > .k-separator {
  border-color: #d5d5d5;
}
.k-spreadsheet-toolbar .k-overflow-anchor {
  border-radius: 0;
}
.k-spreadsheet-popup {
  border-radius: 4px;
}
.k-spreadsheet-popup .k-separator {
  background-color: #d5d5d5;
}
.k-spreadsheet-popup .k-button {
  background-color: transparent;
}
.k-spreadsheet-popup .k-button:hover {
  background-color: #bcb4b0;
}
.k-spreadsheet-popup .k-state-active {
  background-color: #0070c0;
  color: #000000;
}
.k-spreadsheet-popup .k-state-active:hover {
  background-color: #00528d;
}
.k-spreadsheet-filter-menu .k-details {
  border-color: #d5d5d5;
}
.k-spreadsheet-filter-menu .k-details-content .k-space-right {
  background-color: #ffffff;
}
.k-spreadsheet-filter-menu .k-spreadsheet-value-treeview-wrapper {
  background-color: #ffffff;
  border-color: #d5d5d5;
  border-radius: 4px 0 0 4px;
}
.k-syntax-ref {
  color: #ff8822;
}
.k-syntax-num {
  color: #0099ff;
}
.k-syntax-func {
  font-weight: bold;
}
.k-syntax-str {
  color: #38b714;
}
.k-syntax-error {
  color: red;
}
.k-syntax-bool {
  color: #a9169c;
}
.k-syntax-startexp {
  font-weight: bold;
}
.k-syntax-paren-match {
  background-color: #caf200;
}
.k-series-a {
  border-color: #0070c0;
  background-color: rgba(0, 112, 192, 0.15);
}
.k-series-b {
  border-color: #a0a700;
  background-color: rgba(160, 167, 0, 0.15);
}
.k-series-c {
  border-color: #00b0f0;
  background-color: rgba(0, 176, 240, 0.15);
}
.k-series-d {
  border-color: #678900;
  background-color: rgba(103, 137, 0, 0.15);
}
.k-series-e {
  border-color: #00b050;
  background-color: rgba(0, 176, 80, 0.15);
}
.k-series-f {
  border-color: #396000;
  background-color: rgba(57, 96, 0, 0.15);
}
.k-spreadsheet-sheets-remove:hover .k-icon {
  color: #cc2222;
}
.k-spreadsheet-formula-list .k-state-focused {
  background-color: #0070c0;
  color: #ffffff;
}
.k-spreadsheet .k-widget[data-property='fontSize'] {
  width: 60px;
}
.k-spreadsheet .k-widget[data-property='format'] {
  width: 100px;
}
.k-spreadsheet .k-widget[data-property='fontFamily'] {
  width: 130px;
}
.k-spreadsheet-toolbar .k-combobox .k-input {
  color: #2e2e2e;
}
.k-spreadsheet-toolbar .k-combobox .k-state-hover .k-input,
.k-spreadsheet-toolbar .k-combobox .k-state-active .k-input,
.k-spreadsheet-toolbar .k-combobox .k-state-focused .k-input {
  color: #2e2e2e;
}
/* Dialog */
.k-dialog .k-content {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.k-dialog.k-dialog-titleless .k-content {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.k-dialog .k-dialog-buttongroup.k-dialog-button-layout-stretched .k-button {
  padding: 12px;
}
.k-dialog .k-dialog-buttongroup.k-dialog-button-layout-normal {
  border-top: solid 1px #d5d5d5;
  background: #eae8e8;
}
.k-dialog .k-dialog-buttongroup.k-dialog-button-layout-normal .k-button {
  border-radius: 4px;
}
.k-rtl .k-dialog a.k-dialog-action.k-dialog-close {
  left: .5em;
}
.k-rtl .k-dialog .k-dialog-buttongroup.k-dialog-button-layout-stretched .k-button:first-child {
  border-bottom-right-radius: 4px;
}
.k-rtl .k-dialog .k-dialog-buttongroup.k-dialog-button-layout-stretched .k-button:last-child {
  border-bottom-left-radius: 4px;
}
.k-rtl .k-dialog .k-dialog-buttongroup.k-dialog-button-layout-normal {
  text-align: left;
}
.k-rtl .k-dialog .k-dialog-buttongroup.k-dialog-button-layout-normal .k-button {
  margin-left: 0;
  margin-right: 0.5em;
}
.k-rtl .k-dialog .k-dialog-buttongroup.k-dialog-button-layout-normal .k-button:first-child {
  margin-right: 0;
}
.k-numeric-wrap .k-i-warning {
  color: #db4240;
  position: absolute;
  top: 0;
  right: 1.9em;
  width: 1.9em;
}
.k-numeric-wrap.k-state-invalid {
  border-color: #db4240;
}
.k-numeric-wrap.k-state-invalid input {
  color: #db4240;
}
.k-rtl .k-numeric-wrap.k-state-invalid .k-i-warning {
  right: auto;
  left: 1.9em;
}
.k-maskedtextbox.k-state-invalid .k-textbox {
  border-color: #db4240;
  color: #db4240;
}
.k-maskedtextbox.k-state-invalid .k-i-warning {
  color: #db4240;
}
.k-dateinput.k-state-invalid .k-textbox {
  color: #db4240;
  border-color: #db4240;
}
.k-dateinput.k-state-invalid .k-i-warning {
  margin-left: 0;
  margin-right: 0.6em;
  color: #db4240;
}
.k-rtl .k-dateinput .k-i-warning {
  margin-right: 0;
  margin-left: 0.6em;
}
.k-datepicker .k-picker-wrap.k-state-invalid,
.k-timepicker .k-picker-wrap.k-state-invalid {
  border-color: #db4240;
}
.k-datepicker .k-picker-wrap.k-state-invalid .k-input,
.k-timepicker .k-picker-wrap.k-state-invalid .k-input {
  color: #db4240;
}
.k-datepicker .k-picker-wrap .k-i-warning,
.k-timepicker .k-picker-wrap .k-i-warning {
  color: #db4240;
  margin-left: 0;
  margin-right: 2.1em;
}
.k-rtl .k-datepicker .k-picker-wrap .k-i-warning,
.k-rtl .k-timepicker .k-picker-wrap .k-i-warning {
  margin-right: 0;
  margin-left: 2.1em;
}
.k-datetimepicker .k-picker-wrap.k-state-invalid {
  border-color: #db4240;
}
.k-datetimepicker .k-picker-wrap.k-state-invalid .k-input {
  color: #db4240;
}
.k-datetimepicker .k-picker-wrap .k-i-warning {
  color: #db4240;
  margin-left: 0;
  margin-right: 4.3em;
}
.k-rtl .k-datetimepicker .k-picker-wrap .k-icon.k-i-warning {
  margin-right: 0;
  margin-left: 4.3em;
}
.k-listbox .k-list-scroller {
  padding: 2px;
  border-color: #d5d5d5;
  background-color: #fff;
}
.k-listbox .k-item:hover:not(.k-state-disabled) {
  color: #2e2e2e;
  background-color: #bcb4b0;
  border-color: transparent;
}
.k-listbox .k-drop-hint {
  height: 0;
  border-top: 1px solid #0070c0;
}
.k-grid-header .k-i-sort-asc-sm,
.k-grid-header .k-i-sort-desc-sm,
.k-grid-header .k-sort-order {
  color: inherit;
}

/*Added By Jerin Jahan @ 2018-08-02*/
.k-command-cell{text-align: center;}
.k-filter-row th, .k-grid-header th.k-header {text-align: center!important;font-weight: bold;}
.k-grid td{text-align: center!important;}
div.k-edit-form-container {width: 100%;}
div.k-edit-form-container .row {margin: 0px!important;}
.k-state-default .k-grid-cancel{float:left!important;}
div.k-edit-form-container .divalert {width: 100%;display: table;}
div.k-edit-form-container p {text-align:center; vertical-align: middle;display: table-cell;}

.k-confirm .k-window-titlebar::before, 
.k-alert .k-window-titlebar::before { content: 'Bestätigungstitel'; font-weight: bold; }
.k-dialog.k-alert .k-dialog-titlebar, .k-dialog.k-confirm .k-dialog-titlebar, .k-dialog.k-prompt .k-dialog-titlebar {
  background-color: #eae8e8!important;
}

.k-confirm .k-window-titlebar .k-dialog-title { visibility: collapse; } 
.k-dialog .k-window-titlebar .k-dialog-title {visibility: hidden; } 
.k-grid ::-webkit-scrollbar {width: 5!important;height: 10px!important;}
.k-clear-selected, .k-upload-selected {display: none !important;}

.img-file { background-image: url(../../web/upload/jpg.png) }
.doc-file { background-image: url(../../web/upload/doc.png) }
.ppt-file { background-image: url(../../web/upload/ppt.png) }
.pdf-file { background-image: url(../../web/upload/pdf.png) }
.xls-file { background-image: url(../../web/upload/xls.png) }
.zip-file { background-image: url(../../web/upload/zip.png) }
.default-file { background-image: url(../../web/upload/default.png) }
.file-icon {display: inline-block;float: left;width: 48px;height: 48px;margin-left: 10px;margin-top: 13.5px;}
.file-heading {
  font-family: Arial;
  font-size: .9em;
  display: inline-block;
  float: left;
  width: 60%;
  margin: 0 0 0 20px;
  height: 25px;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow:hidden;
  white-space:nowrap;
}
.file-name-heading {font-weight: bold;margin-top: 15px;}
.file-size-heading {font-weight: normal;color: #534c4c;}
li.k-file div.file-wrapper {position: relative;height: 75px;}
.k-grid-content-locked{float: right !important;}
.k-grid-header-locked{float: right !important;}
.k-grid td .ui-grid-cell-custom{
  text-align: center!important;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
textarea{resize: none;}
.k-grid tbody .k-button{
    min-width: 43px!important;
    padding: 7px!important;
}
.k-grid-toolbar .k-button{background-color: #222d32e3!important;font-size: 1.2em;color: #fff;background-image: none!important;}
.k-grid-toolbar label{margin: 7px 0px 6px 15px!important;font-size:16px!important;}
.k-grid-content {height: calc(100vh - 239px);overflow: auto!important;overflow-y: scroll!important;}
.k-edit-field, .k-edit-form-container .editor-field {
    width: 52%!important;
}
.k-edit-form-container .editor-label, .k-edit-label {
    width: 40%!important;
}
.k-command-cell .k-button .k-icon{
    margin: 0px!important;
}
.k-window-titlebar {display: flex }
.k-window-title{ padding-right: 1.49em !important;}
.k-grid-header{padding-right: 12px!important;}
.k-treeview .k-in{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 91%!important;
}
.k-edit-form-container .editor-label, .k-edit-label {
    padding: 1em 0 1em!important;
}
.k-edit-field, .k-edit-form-container .editor-field {
    padding: 10px 5px!important;
}
.k-list-filter > .k-textbox {
    width: 100%!important;
}
.k-pager-wrap > .k-link > .k-icon {
    margin-top: 6px;
    color: inherit;
}
.k-button.k-button-icon .k-icon, .k-grid-filter .k-icon, .k-header .k-icon {
    text-indent: -99999px;
    overflow: hidden;
    margin-top: 6px;
}
.k-pager-sizes .k-widget.k-dropdown {
    margin-top: -2px;
    width: 25%;
}
.k-pager-sizes {
    display: inline-block;
    padding-top: 1px;
    width: 32%;
}